* {
  box-sizing: inherit;
}

.View {
  border: 2px solid black;
  margin: 5%;
  width: 80%;
}

.event-card {
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  flex: 1;
  margin: 1% 10%;
}

.date-box {
  border-right: 2px solid black;
  flex: 1;
  padding-left: 5px;
}

.details-box {
  flex: 3;
  padding-left: 5px;
}

.view-event-btn {
  align-self: left;
  padding-left: 5px;
  margin: 5px;
  background-color: chartreuse;
}

.filter-box {
  margin: 10px;
  border: 2px solid black;
  width: 50%;
}

.advanced-search-box {
  margin: 10px;
  border: 2px solid black; 
  width: 50%;
}