.View {
  border: 2px solid black;
  margin: 5%;
  width: 80%;
  display: flex;
}

.event-card {
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  flex: 1;
  margin: 1% 10%;
}

.date-box {
  border-right: 2px solid black;
  flex: 1;
  padding-left: 5px;
}

.details-box {
  flex: 3;
  padding-left: 5px;
}

.view-event-btn {
  align-self: left;
  padding-left: 5px;
  margin: 5px;
  background-color: chartreuse;
}

.filter-container {
  display: flex;
  justify-content: space-evenly;
  
}

.filter-box {
  border: 2px solid black;
  border-radius: 15px;
  width: 35%;
}

.filter-header {
  margin: 10px; 
}

.filter-selector {
  width: 90%;
  margin: 10px; 
  height: 20px;
}

.advanced-search-box {
  border: 2px solid black; 
  border-radius: 15px;
  width: 35%;
}

.adv-search-header {
  margin: 10px;
}

.adv-search-btn {
  justify-content: center;
  width: 95%;
  margin: 8px;
  height: 20px;
  border-radius: 15px;
}