* {
  box-sizing: inherit;
}

.View {
  border: 2px solid black;
  margin: 5%;
  width: 80%;
}

.eventCard {
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  flex: 1;
  width: 100%;
}

.dateBox {
  border-right: 2px solid black;
  flex: 1;
  padding-left: 5px;
}

.detailsBox {
  flex: 3;
  padding-left: 5px;
}

.viewEventBtn {
  align-self: left;
  padding-left: 5px;
  margin: 5px;
}